<div id="<%= dom_id beer_club %>">
  <p>
    <strong>Name:</strong>
    <%= beer_club.name %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>

  <p>
    <strong>Members:</strong>
    <ul>
      <% beer_club.members.each do |member| %>
        <li>
        <%= link_to member.username user_path(member.id) %>
        </li>
      <%end%>
    </ul>
  </p>
</div>
