<h2><%= @user.username %></h2>

<% if @user.closed? %>
  <div class="badge text-bg-danger">account closed</div>
<% end %>

<% if @user.ratings.empty? %>
  <p>Has not yet made ratings</p>
<% else %>
  Has made <%= pluralize(@user.ratings.count, 'rating') %>,
  average rating <%= round(@user.average_rating) %>

  <h4>Ratings</h4>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to "Delete", rating, data: {
                'turbo-method': :delete
              } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <h4>Favorites</h4>
  <p>Favorite style: <%= link_to @user.favorite_style.name, @user.favorite_style %></p>
  <p>Favorite brewery: <%= link_to @user.favorite_brewery.name, @user.favorite_brewery %></p>
<% end %>

<% if @user.beer_clubs.empty? %>
  <p>Has not joined any club</p>
<% else %>
  <h4>Memberships</h4>
  <ul>
    <% @user.beer_clubs.each do |beer_club| %>
      <li>
        <%= link_to beer_club.name, beer_club %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @user == current_user %>
  <%= edit_and_destroy_buttons(@user) %>
<% end %>

<div>
  <% if current_user && current_user.admin? %>    
    <%= link_to (@user.closed? ? "activate account" : "close account"), toggle_closed_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-primary" %>
  <% end %>
</div>