<h2><%= @user.username %></h2>

<% if @user.ratings.empty? %>
  <p>Has not yet made ratings</p>
<% else %>
  Has made <%= pluralize(@user.ratings.count, 'rating') %>,
  average rating <%= @user.average_rating %>

  <h4>Ratings</h4>
  <ul>
    <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
          <%= link_to "Delete", rating, data: {
                'turbo-method': :delete
              } %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <h4>Favorites</h4>
  <p>Favorite style: <%= @user.favorite_style %></p>
  <p>Favorite brewery: <%= @user.favorite_brewery %></p>
<% end %>

<% if @user.beer_clubs.empty? %>
  <p>Has not joined any club</p>
<% else %>
  <h4>Memberships</h4>
  <ul>
    <% @user.beer_clubs.each do |beer_club| %>
      <li>
        <%= link_to beer_club.name, beer_club %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @user == current_user %>
  <div>
    <%= link_to "Change password", edit_user_path(@user), class:'btn btn-primary' %>
    <%= button_to "Destroy this user", @user, method: :delete, class: "btn btn-danger" %>
  </div>
<% end %>

