<h2>List of ratings</h2>
<table class="table table-striped table-hover" >
  <thead>
    <tr>
      <th scope="col">Beer</th>
      <th scope="col">Rating</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, beer_path(rating.beer.id) %></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, user_path(rating.user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>Number of ratings: <%= @ratings.count %></p>
<% if current_user %>
  <%= link_to "New rating", new_rating_path, class: "btn btn-primary" %>
<% end %>