<div id="<%= dom_id brewery %>">
  <h2>
    <%= brewery.name %>
    <% if not brewery.active  %>
      <span class="badge bg-secondary">retired</span>
    <% end %>
  </h2>
  <em>
    Established in <%= brewery.year %>
  </em>
  <p>
    Number of beers: <%= brewery.beers.count %>
  </p>
  <p>
    <% brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
    <% end %>
  </p>
  <p>
    Brewery has
    <% if brewery.ratings.empty? %>
      no ratings
    <% else %>
      <%= pluralize(brewery.ratings.count, "rating" )%>
      with an average of <%= round(brewery.average_rating()) %>
    <% end %>
  </p>
</div>
