<div id="<%= dom_id beer %>">
  <p>
    <strong>Name:</strong>
    <%= beer.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= beer.style.name %>
  </p>

  <p>
    <strong>Brewery:</strong>
    <%= beer.brewery.name %>
  </p>

  <p>
    Beer has 
    <% if beer.ratings.empty? %>
      not yet been rated!
    <% else %>
      <%= pluralize(beer.ratings.count, 'rating') %>
      with an average of
      <%= beer.average_rating %>
    <% end %>
  </p>

</div>
